@model PetShop.Model.MonthlyLedger

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MonthlyLedger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                @*<input asp-for="Year" class="form-control" />*@
                @{
                    var years = new List<string>();
                    years.Add("2020");
                    years.Add("2021");
                    years.Add("2022");
                    var selectedYears = new SelectList(years);
                }
                <input asp-for="Year" type="number" class="form-control" min="1999" max="2050" step="1" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                @{
                    var items = new List<SelectListItem>();
                    items.Add(new SelectListItem
                    {
                        Text = "January",
                        Value = "1"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "Fabruary",
                        Value = "2"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "March",
                        Value = "3"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "April",
                        Value = "4"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "May",
                        Value = "5"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "June",
                        Value = "6"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "July",
                        Value = "7"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "August",
                        Value = "8"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "September",
                        Value = "9"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "October",
                        Value = "10"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "November",
                        Value = "11"
                    });
                    items.Add(new SelectListItem
                    {
                        Text = "December",
                        Value = "12"
                    });
                    
                }
                <select asp-for="Month" class="form-control" asp-items="items"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @if (ViewData["ErrorMessage"] is not null)
                {
                    <label class="text-danger">@ViewData["ErrorMessage"]</label>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
