@{
    ViewData["Title"] = "About Us ";
}
<h1>@ViewData["Title"]</h1>

<p>Yellow Collar</p>

<p> Established in 1986, Yellow Collar, 
    Inc. is the biggest strength pet retailer of administrations and answers for the lifetime needs of pets. 
    At Yellow Collar , we cherish pets, and we trust pets improve us as individuals. Consistently with each association, 
    Yellow Collar‘s enthusiastic partners help convey pet guardians closer to their pets so they can live progressively satisfying lives.</p>

<p> This vision impacts all that we improve the situation of our clients, the manner in which we bolster our partners, and how we offer back to our networks.</p>

<p> We utilize around 56,000 partners and work in excess of 1,650 pet stores in the United States, Canada, and Puerto 
    Rico just as more than 200 in-store Yellow Collar PetsHotel puppy and feline boarding offices.</p>

<p> Yellow Collar gives a wide scope of competitively estimated pet sustenance and items and offers one-of-a-kind pet administrations 
    including preparing, pet prepping, boarding, Yellow Collar Doggie Day Camp, and in-store pet receptions.</p>

<p> Master veterinarian care is accessible in huge numbers of our stores, where a hospital, works full-benefit pet healing facilities.</p>

<p>These in-store pet doctor’s facilities work freely of Yellow Collar  
    and utilize veterinarians who give a full scope of social insurance and crisis administrations. </p>​

<p> Yellow Collar, together with non-benefits Pet Paradise Charities and Bark N’ Bites Charities of United States, 
    welcome in excess of 3,700 creature welfare associations to bring adoptable pets into stores so they have the most obvious opportunity 
    conceivable of finding an eternity home.</p>

<p>Through this in-store selection program and other mark occasions, Yellow Collar 
    has encouraged in excess of 8 million appropriations – more than some other physical association.</p>
